$primary-color: #4b286d;
* {
    font-family: TELUS-Web,Helvetica Neue,Helvetica,Arial,sans-serif;
  } 
body{
    padding: 0;
    margin: auto;
}
@media (min-width: 1200px){
  .kptxeS {
    max-width: 100% !important;
  }
}
@media (min-width: 992px){
  .kptxeS {
    max-width: 100% !important;
  }
}
@media (min-width: 768px){
  .kptxeS {
    max-width: 100% !important;
  }
}
@media (min-width: 576px){
  .kptxeS {
    max-width: 100% !important;
  }
}
